<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tela de Associa&ccedil;&atilde;o</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Include _menu.html -->
    <th:block th:include="/user/_menu"></th:block>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Estabelecimentos dispon&iacute;veis </h1>
          <div class="table-responsive">
          <table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Nome</th>
			      <th scope="col">Endere&ccedil;o</th>
			      <th scope="col">Hor&aacute;rio de Funcionamento</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr th:each="estab : ${estabs}">
	    			<td scope="row" th:text="${estab.estabId}"></td>
	    			<td scope="row" th:text="${estab.nome}"></td>
	    			<td scope="row">Rua Floriano Peixoto, 200</td>
	    			<td scope="row">9h as 18h - Segunda a sexta</td>
	    			<td scope="row">
	    				<a class="btn btn-sm btn-primary" th:href="@{/user/rule(estabId=${estab.estabId})}" >Regulamento</a>
	    			</td>
	    		</tr>
			  </tbody>
			</table>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
